<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/common/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/common/header.ejs') %>

    <div class="container mt-5">
      <%- include('./partials/common/messageViewer.ejs') %>
      <%- include('./partials/auth/loginForm.ejs') %>
    </div>

    <%- include('./partials/common/footer.ejs') %>
  </body>
</html>
