<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/common/head.ejs') %>
    <script src="./javascripts/favorite.js"></script>
  </head>
  <body>
    <%- include('./partials/common/header.ejs') %>
    <%-include('./partials/bestSellersBanner.ejs') %>
    <%- include('./partials/common/messageViewer.ejs') %>
    <%-include('./partials/common/basket-sidebar.ejs') %>

    <div class="container mt-5">
      <h1 class="mb-4">Our Fake-Menu</h1>

      <% categories.forEach(category => { %>
      <div class="mb-5">
        <h3 class="text-primary mb-3"><%= category.name %></h3>
        <div class="row">
          <% category.items.forEach(item => { %>
          <%-
          include('./partials/item-card.ejs', { item: item }) %>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Scrolling CSS -->

    <link rel="stylesheet" href="./stylesheets/common/bestsellers.css" />
    <link rel="stylesheet" href="../stylesheets/common/card.css" />
  </body>
</html>
